absl-py==0.9.0
antlr4-python3-runtime==4.7.2
astunparse==1.6.3
attrs==19.3.0
black==18.9b0
cachetools==3.1.1
certifi==2019.9.11
charset-normalizer==2.0.0
click==7.0
cloudpickle==1.2.2
cmake==3.13.4
contourpy==0.3.1
cycler==0.10.0
Cython==0.29.13
dataclasses==0.6
filelock==3.0.12
fire==0.3.1
flatbuffers==1.11
fonttools==3.44.0
future==0.17.1
fvcore==0.1.2.post20200108
gast==0.2.2
google-auth==1.6.3
google-auth-oauthlib==0.4.0
google-pasta==0.1.7
grpcio==1.24.3
h5py==2.10.0
hydra-core==1.0.0
idna==2.8
imageio==2.6.1
imantics==0.1.9
imgaug==0.3.0
importlib-metadata==0.23
importlib-resources==3.0.0
iopath==0.1.5
Jinja2==2.10.3
jsonschema==3.0.2
jsonschema-specifications==2019.3.22
keras==2.2.4
kiwisolver==1.1.0
labelme2coco==0.0.3
lazy-loader==0.2.2
libclang==7.0.1
lit==0.8.0
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mpmath==1.1.0
networkx==2.3
numpy==1.16.4
nvidia-cublas-cu10.0==10.0.130
nvidia-cuda-cupti-cu10.0==10.0.130
nvidia-cuda-nvrtc-cu10.0==10.0.130
nvidia-cuda-runtime-cu10.0==10.0.130
nvidia-cudnn-cu10.0==7.6.2
nvidia-cufft-cu10.0==10.0.130
nvidia-curand-cu10.0==10.0.130
nvidia-cusolver-cu10.0==10.0.130
nvidia-cusparse-cu10.0==10.0.130
nvidia-nccl-cu10.0==2.4.6
nvidia-nvtx-cu10.0==1.0.0
oauthlib==3.1.0
omegaconf==1.4.1
opencv-python==4.1.1.26
opt-einsum==2.3.2
packaging==19.2
pathspec==0.6.0
Pillow==6.1.0
pixellib==0.6.6
protobuf==3.10.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
pybboxes==0.1.5
pycocotools==2.0.0
pydot==1.4.1
pyparsing==2.4.2
PyQt5==5.13.0
PyQt5-sip==12.7.2
python-dateutil==2.8.0
PyWavelets==1.0.3
PyYAML==5.1.2
referencing==0.5.0
requests==2.22.0
requests-oauthlib==1.2.0
rpds-py==0.2.0
rsa==4.0
sahi==0.9.4
scikit-image==0.15.0
scipy==1.3.1
shapely==1.6.4.post2
six==1.12.0
sympy==1.4
tabulate==0.8.5
tensorboard==1.14.0
tensorboard-data-server==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminaltables==3.1.0
tifffile==2019.7.26
tomli==0.10.0
torch==1.3.1
torchvision==0.4.2
tqdm==4.36.1
triton==1.0.0
typing-extensions==3.7.4.3
urllib3==1.25.6
werkzeug==0.16.0
wrapt==1.11.2
xmljson==0.2.0
yacs==0.1.6
zipp==0.6.0
